:root{
    --background-color: #FBFAFE;
    --primary-color:#794CFF;
    --secondary-color:#ECE5FF;
    --white: #FFFFFF;
    --black: #35414B;
}


@media screen and (min-width:1440px){
    header{
        width: 100%;
        padding: 20px 20px;
    }

    .wrapper nav{
        width: 70%;
        justify-content:end;
    }
    
    .wrapper .header-btn{
        width: 20%;
        justify-content: end;
    }

    .all-btn{
        padding: 10px 20px;
    }

    .menubar{
        display: none;
    }

    label .menubar{
        display: none;
    }

    .timeline-section{
        width: 100%;
    }  
    
    .work-easier{
        width: 100%;
    }

    .customers
    {
        width: 100%;
    }
}

@media (min-width:1024px) and (max-width:1440px) {
    header{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .header-logo{
        width: 10%;
        justify-content: start;
    }

    .wrapper{
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    
    .wrapper nav{
        width: 60%;
        justify-content:end;
    }
    
    .wrapper .header-btn{
        width: 30%;
        justify-content: end;
    }

    .all-btn{
        padding: 10px 20px;
    }

    .menubar{
        display: none;
    }

    label .menubar{
        display: none;
    }

    .timeline-section{
        width: 100%;
        margin-top: 50px;
        justify-content:center;
    }

    .timeline-section .timeline-img{
        width: 60%;
        padding: 0px 30px;
    }
    
    .timeline-section .timeline-content{
        width: 40%;
        justify-content: space-around;
    }

    .timeline-section .timeline-content .timeline-process{
        width: 100%;
    }

    .timeline-section .timeline-content .timeline-process p{
        width: 90%;
    }

    .work-easier{
        width: 100%;
    }

    .work-easier .cards{
        grid-template-columns: repeat(3, auto);
        padding: 0px 50px;
        gap: 20px;
    }
    
    .work-easier .cards .card-box{
        width: 100%;
        padding: 20px 20px;
    }

    .work-easier .cards .card-box .circle{
        width: 60px;
        height: 60px;
    }

    .work-easier .cards .card-box .heading{
        font-size: 18px;
        margin-top: 15px;
    }
    
    .work-easier .cards .card-box p{
        font-size: 14px;
        margin-top: 5px;
    }

    .how-you-work{
        width: 100%;
        padding: 50px 100px;
    }

    .how-you-work .work-content{
        width: 50%;
        padding: 0px 20px;
    }
    
    .how-you-work .work-content h3{
        font-size: 35px;
    }
    
    .how-you-work .work-content p{
        font-size: 18px;
        margin-top: 20px;
    }
    
    .how-you-work .work-content button{
        margin-top: 30px;
        background-color: var(--primary-color);
        color: var(--white);
    }
    
    .how-you-work .work-img{
        width: 60%;
    }
    
    .how-you-work .work-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 0px 30px;
    }

    .customers
    {
        width: 100%;
    }

    .customers h3{
        font-size: 30px;
        width: 40%;
    }
    
    .customers .customer-p{
        width: 50%;
    }

    .customers .customer-detail .customer-box{
        margin: 50px 30px;
        padding: 20px;
    }

    .customers .user-app{
        width: 80%;
        padding: 60px 0px;
    }

    footer{
        width: 100%;
        height: auto; 
        padding: 50px 100px;
        padding-bottom: 20px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    header{
        width: 100%;
        flex-wrap: wrap; 
    }

    .header-logo{
        width: 100%;
        justify-content: center;
    }

    .wrapper{
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    .wrapper nav{
        width: 70%;
        justify-content:start;
    }
    
    .wrapper .header-btn{
        width: 30%;
        justify-content: end;
    }

    nav a{
        font-weight: 500;
        font-size: 14px;
        padding: 0px 20px;
    }

    .all-btn{
        padding: 10px 10px;
        font-size: 14px;
    }

    .menubar{
        display: none;
    }

    label .menubar{
        display: none;
    }

    .graph img{
        top: 600px;
        width: 100%;
        height: 100%;
    }
    
    .timeline-section{
        width: 100%;
        margin-top: 50px;
        justify-content:center;
    }

    .timeline-section .timeline-img{
        width: 50%;
        padding: 0px 10px;
    }
    
    .timeline-section .timeline-content{
        width: 50%;
    }

    .timeline-section .timeline-content .timeline-process{
        width: 100%;
    }

    .timeline-section .timeline-content .timeline-process hr{
        margin: 10px 0px;
    }
    

    .timeline-section .timeline-content .timeline-process p{
        width: 100%;
        font-size: 14px;
    }
    
    .timeline-section .timeline-content .timeline-process .team, 
    .issue, .plan, .progress{
        padding: 15px 15px;
    }

    .work-easier{
        width: 100%;
    }

    .work-easier .work-easier-content{
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .work-easier .cards{
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(3, auto);
        gap: 15px;
    }
    
    .work-easier .cards .card-box{
        width: 100%;
        padding: 20px 20px;
    }

    .work-easier .cards .card-box .circle{
        width: 60px;
        height: 60px;
    }

    .work-easier .cards .card-box .heading{
        font-size: 18px;
        margin-top: 15px;
    }
    
    .work-easier .cards .card-box p{
        font-size: 14px;
        margin-top: 5px;
    }

    .how-you-work{
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin: 20px 0px;
        padding: 50px 50px;
    }

    .how-you-work .work-content{
        width: 100%;
        padding: 0px 20px;
    }
    
    .how-you-work .work-content h3{
        font-size: 30px;
    }
    
    .how-you-work .work-content p{
        font-size: 18px;
        margin-top: 15px;
    }
    
    .how-you-work .work-content button{
        width: auto;
        margin-top: 20px;
        font-size: 18px;
        padding: 10px 20px;
    }
    
    .how-you-work .work-img{
        width: 100%;
        height: 100%;
        margin-top: 30px;
    } 
    
    .how-you-work .work-img img{
        width: 100%;
        height: 100%;
        padding: 0px 80px;
    }

    .customers
    {
        width: 100%;
        margin: 50px 0px;
    }

    .customers h3{
        font-size: 30px;
        width: 50%;
    }
    
    .customers .customer-p{
        width: 70%;
    }

    .customers .customer-detail .customer-box{
        margin: 40px 5px;
        padding: 15px;
        transition: all 300ms;
    }

    .customers .customer-detail .customer-box:hover{
        border-top: 5px solid var(--black);
        width: fit-content;
    }

    .customers .customer-detail .customer-box .customer-content h5{
        font-size: 14px;
    }
    
    .customers .customer-detail .customer-box .customer-content p{
        font-size: 14px;
    }

    .customers .user-app{
        width: 80%;
        justify-content: space-around;
        padding: 60px 20px;
        margin-top: 20px;
    }

    .customers .user-app .user-content{
        width: 50%;
        font-size: 20px;
    }
    
    .customers .user-app .user-img{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    
    .customers .user-app .user-img img{
        height: auto;
        width: 45%;
        padding: 0px 5px;
    }

    footer{
        width: 100%;
        height: auto; 
        padding: 30px 50px;
        padding-bottom: 20px;
    }

    footer .footer-content{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(1, auto);
    }

    footer .footer-content .company-detail h4, .support-detail h4,
    .legal-detail h4, .install-App-detail h4{
        font-size: 16px;
    }

    footer .footer-content .company-detail a, .support-detail a,
    .legal-detail a{
        font-size: 14px;
    }

    footer .footer-content .install-App-detail .footer-img1, .footer-img2{
        width: 150px;
        height: auto;
    }

    footer .footer-copyright p{
        font-size: 14px;
    }

    footer .footer-copyright{
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 80px;
    }
    
    footer .footer-copyright img{
        padding: 0px 4px;
    }
}



@media (min-width:425px) and (max-width:768px) {
    header{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    #check-box:checked + .wrapper{
        display: none; 
    }

    input{
        display: none;
    }
    
    label .menubar{
        display: block;
        width: 10%;
        justify-content: end;
    }

    .header-logo{
        width: 100%;
        justify-content: space-between;
    }
    
    .wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        margin-top: 10px;
    }
    
    .wrapper nav{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:start;
    }

    nav a{
        width: 100%;
        color: var(--black);
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        padding: 10px 10px;
        border: 1px solid var(--black);
        border-radius: 4px;
        margin-left: 0;
        margin: 4px 0px;
    }
    
    .wrapper .header-btn{
        width: 100%;
        justify-content: start;
        margin: 5px 0px;
    }

    .all-btn{
        width: 100%;
        color: var(--primary-color);
        font-weight: 500;
        font-size: 16px;
        border: 2px solid var(--primary-color);
        border-radius: 4px;
        background-color: transparent;
    }

    .wrapper .header-btn{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .wrapper .header-btn .nav-btn{
        background-color: transparent;
        color: var(--primary-color);
        margin-top: 5px;
    }

    .background .heading{
        padding-top: 50px;
        padding-bottom: 300px;
    }

    .background .heading p{
        font-size: 40px;
        line-height: 50px;
        margin-top: 10px;
    }
    
    .background .heading .heading-p2{
        color: var(--black);
        font-size: 14px;
        padding: 0px 20px;
        margin-top: 10px;
        width: 80%;
    }

    .heading .heading-btn{
        flex-direction: column;
    }
    
    .heading .heading-btn .heading-btn1 {
        padding: 0px 30px;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    
    
    .heading .heading-btn .heading-btn2{
        margin-left: 0px;
        margin-top: 10px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .graph{
        display: flex;
        justify-content: center;
    }
    
    .graph img{
        width: 100%;
        height: auto;
        margin-top: -280px;
        z-index: 1;
    }

    .company p{
        font-size: 14px;
    }
    
    .company .companies{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
    
    .company .companies img{
        width: auto;
        height: auto;
        justify-content: space-evenly;
        padding: 20px 20px;
    }

    .timeline-section{
        width: 100%;
        margin-top: 50px;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
    }

    .timeline-section .timeline-img{
        width: 100%;
        padding: 0px 50px;
    }
    
    .timeline-section .timeline-content{
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    
    .timeline-section .timeline-content .timeline-process{
        width: 100%;
    }

    .timeline-section .timeline-content .timeline-process hr{
        margin: 10px 0px; 
        width: 100%;
    }
    

    .timeline-section .timeline-content .timeline-process p{
        width: 100%;
        font-size: 14px;
    }
    
    .timeline-section .timeline-content .timeline-process .team, 
    .issue, .plan, .progress{
        padding: 20px 20px;
    }

    .timeline-section .timeline-content .timeline-process .team:hover, 
    .issue:hover, .plan:hover, .progress:hover{
        width: 100%;
    }

    .work-easier{
        width: 100%;
    }

    .work-easier .work-easier-content{
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .work-easier .cards{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(6, auto);
        gap: 15px;
        margin: 0px 20px;
    }
    
    .work-easier .cards .card-box{
        width: 100%;
        padding: 20px 20px;
    }

    .work-easier .cards .card-box .circle{
        width: 60px;
        height: 60px;
    }

    .work-easier .cards .card-box .heading{
        font-size: 18px;
        margin-top: 15px;
    }
    
    .work-easier .cards .card-box p{
        font-size: 14px;
        margin-top: 5px;
    }

    .how-you-work{
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin: 0px;
        padding: 50px 10px;
    }

    .how-you-work .work-content{
        width: 100%;
        padding: 0px 20px;
    }
    
    .how-you-work .work-content h3{
        font-size: 30px;
    }
    
    .how-you-work .work-content p{
        font-size: 16px;
        margin-top: 15px;
    }
    
    .how-you-work .work-content button{
        width: auto;
        margin-top: 20px;
        font-size: 16px;
        padding: 10px 20px;
    }
    
    .how-you-work .work-img{
        width: 100%;
        height: 100%;
        margin-top: 30px;
    } 
    
    .how-you-work .work-img img{
        width: 100%;
        height: 100%;
        padding: 0px 40px;
    }

    .customers
    {
        width: 100%;
        margin: 50px 0px;
        align-items: center;
    }

    .customers h3{
        font-size: 30px;
        width: 80%;
    }
    
    .customers .customer-p{
        width: 90%;
    }

    .customers .customer-detail{
        flex-wrap: wrap;
    }

    .customers .customer-detail .customer-box{
        width: 500px;
        justify-content: center;
        margin: 10px 0px;
        padding: 0px 20px;
        transition: all 300ms;
    }

    .customers .customer-detail .customer-box:hover{
        border-top: 5px solid var(--black);
        width: max-content;
    }

    .customers .customer-detail .customer-box .customer-content h5{
        font-size: 14px;
    }
    
    .customers .customer-detail .customer-box .customer-content p{
        font-size: 14px;
    }

    .customers .user-app{
        width: 80%;
        flex-direction: column;
        justify-content: space-around;
        padding: 30px 20px;
        margin-top: 20px;
    }

    .customers .user-app .user-content{
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
    
    .customers .user-app .user-img{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-top: 10px;
    }
    
    .customers .user-app .user-img img{
        height: auto;
        width: 80%;
        padding: 5px 5px;
    }

    footer{
        width: 100%;
        height: auto; 
        padding: 30px 50px;
    }
    
    footer .footer-content{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }
    
    footer .footer-content .legal-detail h4, .install-App-detail h4{
        margin-top: 30px;
    }

    footer .footer-content .company-detail, .support-detail,
    .legal-detail, .install-App-detail {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    
    footer .footer-content .company-detail h4, .support-detail h4,
    .legal-detail h4, .install-App-detail h4{
        font-size: 16px;
    }

    footer .footer-content .company-detail a, .support-detail a,
    .legal-detail a{
        font-size: 14px;
        padding: 3px 0px;
    }

    footer .footer-content .install-App-detail .footer-img1, .footer-img2{
        width: 150px;
        height: auto;
    }
    

    footer .footer-copyright{
        justify-content: space-around;
        align-items: center;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    footer .footer-copyright p{
        font-size: 12px;
    }

    footer .footer-copyright .icons{
        display: flex;
        flex-direction: row;
    }

    footer .footer-copyright img{
        padding: 0px 2px;
        height: 30px;
        width: 100%;
    }
}



@media (min-width:200px) and (max-width:425px) {
    header{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    #check-box:checked + .wrapper{
        display: none; 
    }

    input{
        display: none;
    }
    
    label .menubar{
        display: block;
    }

    .header-logo{
        width: 100%;
        justify-content: space-between;
    }
    
    .wrapper{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin-top: 10px;
    }
    
    .wrapper nav{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:start;
    }

    nav a{
        width: 100%;
        color: var(--black);
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        padding: 10px 10px;
        border: 1px solid var(--black);
        border-radius: 4px;
        margin-left: 0;
        margin: 4px 0px;
    }
    
    .wrapper .header-btn{
        width: 100%;
        justify-content: start;
        margin: 5px 0px;
    }

    .all-btn{
        width: 100%;
        color: var(--primary-color);
        font-weight: 500;
        font-size: 16px;
        border: 2px solid var(--primary-color);
        border-radius: 4px;
        background-color: transparent;
    }

    .wrapper .header-btn{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .wrapper .header-btn .nav-btn{
        background-color: transparent;
        color: var(--primary-color);
        margin-top: 5px;
    }

    .heading .account .span2{
        background-color: var(--lightgreen);
        color: var(--black);
        font-size: 12px;
        height: 40px;
        border-radius: 50px;
        padding-left: 40px;
        margin-left: -30px;
        z-index: 0;
    }
    
    .heading .account span{
        background-color: var(--green);
        color: var(--white);
        font-size: 12px;
        height: 40px;
        padding: 0px 20px;
        border-radius: 20px;
        z-index: 1;
    }

    .background .heading{
        padding-top: 50px;
        padding-bottom: 350px;
    }

    .background .heading p{
        font-size: 30px;
        line-height: 40px;
        margin-top: 10px;
    }
    
    .background .heading .heading-p2{
        color: var(--black);
        font-size: 12px;
        padding: 0px 20px;
        margin-top: 10px;
        width: 100%;
        line-height: 20px;
    }

    .heading .heading-btn{
        flex-direction: column;
    }
    
    .heading .heading-btn .heading-btn1 {
        justify-content: center;
        padding: 0px 30px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    
    .heading .heading-btn .heading-btn2{
        margin-left: 0px;
        margin-top: 5px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .graph{
        display: flex;
        justify-content: center;
    }
    
    .graph img{
        width: 100%;
        height: auto;
        margin-top: -320px;
        z-index: 1;
    }

    .company p{
        font-size: 12px;
    }
    
    .company .companies{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .company .companies img{
        padding: 20px 10px;
    }

    .timeline-section{
        width: 100%;
        margin-top: 20px;
        padding: 30px 0px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .timeline-section .timeline-img{
        width: 100%;
        padding: 0px 20px;
    }

    .timeline-section .timeline-content{
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .timeline-section .timeline-content .timeline-process{
        width: 100%;
        justify-content: center;
    }

    .timeline-section .timeline-content .timeline-process hr{
        margin: 10px 0px;
        width: 100%;
    }


    .timeline-section .timeline-content .timeline-process p{
        width: 100%;
        font-size: 14px;
    }

    .timeline-section .timeline-content .timeline-process .team, 
    .issue, .plan, .progress{
        padding: 20px 20px;
    }

    .timeline-section .timeline-content .timeline-process .team:hover, 
    .issue:hover, .plan:hover, .progress:hover{
        width: 100%;
    }

    .work-easier{
        width: 100%;
    }

    .work-easier .work-easier-content{
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .work-easier .cards{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(6, auto);
        gap: 5px;
        margin: 0px 20px;
    }
    
    .work-easier .cards .card-box{
        width: 100%;
        padding: 20px 20px;
    }

    .work-easier .cards .card-box .circle{
        width: 50px;
        height: 50px;
    }

    .work-easier .cards .card-box .heading{
        font-size: 16px;
        margin-top: 15px;
    }
    
    .work-easier .cards .card-box p{
        font-size: 12px;
        margin-top: 5px;
    }

    .how-you-work{
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin: 0px;
        padding: 50px 10px;
    }

    .how-you-work .work-content{
        width: 100%;
        padding: 0px 20px;
    }
    
    .how-you-work .work-content h3{
        font-size: 30px;
    }
    
    .how-you-work .work-content p{
        font-size: 14px;
        margin-top: 15px;
    }
    
    .how-you-work .work-content button{
        width: auto;
        margin-top: 20px;
        font-size: 14px;
        padding: 10px 20px;
    }
    
    .how-you-work .work-img{
        width: 100%;
        height: 100%;
        margin-top: 30px;
    } 
    
    .how-you-work .work-img img{
        width: 100%;
        height: 100%;
        padding: 0px 40px;
    }

    .customers
    {
        width: 100%;
        margin: 50px 0px;
        align-items: center;
    }

    .customers h3{
        font-size: 20px;
        width: 80%;
    }
    
    .customers .customer-p{
        width: 90%;
    }

    .customers .customer-detail{
        flex-wrap: wrap;
    }

    .customers .customer-detail .customer-box{
        justify-content: start;
        margin: 0px 0px;
        padding: 20px;
    }

    .customers .customer-detail .customer-box:hover{
        border-top: 5px solid var(--black);
        width: fit-content;
    }

    .customers .customer-detail .customer-box .customer-content h5{
        font-size: 14px;
    }
    
    .customers .customer-detail .customer-box .customer-content p{
        font-size: 14px;
    }

    .customers .user-app{
        width: 80%;
        flex-direction: column;
        justify-content: space-around;
        padding: 30px 20px;
        margin-top: 20px;
    }

    .customers .user-app .user-content{
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    
    .customers .user-app .user-img{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-top: 10px;
    }
    
    .customers .user-app .user-img img{
        height: auto;
        width: 80%;
        padding: 5px 5px;
    }

    footer{
        width: 100%;
        height: auto; 
        padding: 30px 0px;
    }
    
    footer .footer-content{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
    }
    
    footer .footer-content .support-detail h4, .legal-detail h4, .install-App-detail h4{
        margin-top: 30px;
    }

    footer .footer-content .company-detail, .support-detail,
    .legal-detail, .install-App-detail {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    
    footer .footer-content .company-detail h4, .support-detail h4,
    .legal-detail h4, .install-App-detail h4{
        font-size: 16px;
    }

    footer .footer-content .company-detail a, .support-detail a,
    .legal-detail a{
        font-size: 14px;
        padding: 3px 0px;
    }

    footer .footer-content .install-App-detail .footer-img1, .footer-img2{
        width: 100px;
        height: auto;
    }

    footer .footer-copyright{
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    footer .footer-copyright p{
        font-size: 12px;
    }

    footer .footer-copyright .icons{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    footer .footer-copyright img{
        padding: 0px 5px;
        height: 30px;
        width: 100%;
    }
    
}