
:root{
    --background-color: #F1F3F6;
    --white: #FFFFFF;
    --black: #000000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins' , 'serif';
}

/* Common css */

.all-btn{
    padding: 10px 30px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: transparent;
}

.background{
    background-image: url("../Zillion/image/bg-img.png");
    background-size: cover;
    height: auto;
    width: 100%;
    overflow: hidden;
}

header{
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}



.header-logo img{
    display: flex;
}

.menubar{
    color: white;
    font-size: 24px;
    display: none;
}

.wrapper{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    display: none;
}

#check-box:checked + .wrapper{
    display: block;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    padding: 0px 40px;
}

.background .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 250px;
}

.background .heading p{
    color: var(--white);
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

.background .heading-btn button{
    background-color: var(--background-color);
    color: var(--black);
    margin-top: 50px;
}